.button {
  @include font(700, 16px, null, null);
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;

  transition: color var(--transition-timing), background-color var(--transition-timing),
    border-color var(--transition-timing), box-shadow var(--transition-timing);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
