.logo {
  @include font(700, 24px, 1.2, 0.03em);
  font-family: 'Raleway';
  color: var(--accent-color);
  text-decoration: none;
  @include desktop {
    font-size: 26px;
  }
  &__dark {
    color: #000000;
  }

  &__light {
    color: var(--normal-color);
  }
}

.navigation__logo {
  padding-top: 24px;
  margin-right: 93px;
}
