.logo {
  @include font(700, 24px, 1.17, 0.03em);
  font-family: 'Raleway';
  color: var(--accent-color);
  text-decoration: none;
  @include desktop {
    font-size: 26px;
  }
  &__dark {
    color: #000000;
  }

  &__light {
    color: var(--normal-color);
  }
}

.navigation__logo {
  padding: 16px 0px;
  @include tablet {
    padding-top: 24px;
    margin-right: 87px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
