.benefits {
  display: flex;
  column-gap: $gap;

  &__item {
    flex-basis: calc((100% - 3 * $gap) / 4);
  }

  &__icon-wrapper {
    @include flex(flex, center, center);
    background-color: var(--secondary-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
  }

  &__title {
    @include font(null, 14px, 1.14, 0.03em);
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--minor-color);
  }
}
