.hero {
  max-width: 1600px;
  margin: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-image-mob.jpg), #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 0px;
  @include pixelRatio2x {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-image-mob-2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-image-tablet.jpg);
    @include pixelRatio2x {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-image-tablet-2x.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg-image.jpg);
    @include pixelRatio2x {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-image-2x.jpg);
    }
    padding: 200px 0px;
  }

  &__title {
    max-width: 290px;
    @include font(900, 26px, 1.62, 0.06em);
    margin: 0 auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--normal-color);
    @include mobile {
      max-width: 360px;
    }
    @include desktop {
      max-width: 696px;
      @include font(900, 44px, 1.36, 0.06em);
    }
  }

  &__button {
    @include font(null, null, 1.88, 0.06em);
    color: var(--normal-color);
    background-color: var(--accent-color);
    padding: 10px 32px 10px 32px;
    min-width: 200px;
    @include desktop {
      min-width: 216px;
    }
  }
}
