.hero {
  width: 1600px;
  margin: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroback.jpg), #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 200px 0px;

  &__title {
    max-width: 696px;
    @include font(900, 44px, 1.36, 0.06em);
    margin: 0 auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--normal-color);
  }

  &__button {
    @include font(null, null, 1.88, 0.06em);
    color: var(--normal-color);
    background-color: var(--accent-color);
    padding: 10px 32px 10px 32px;
    min-width: 216px;
  }
}
