.filters {
  @include flex(flex, center, null);

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    @include font(500, null, 1.63, 0.03em);
    color: inherit;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    &:hover,
    &:focus {
      color: var(--normal-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
